<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EDIT PAGE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Sign Out"/>
</form>
<table>
    <form name="search-theme-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
          id="search-theme-form"
          th:object="${schedule}" method='POST'>
        <input type="hidden" name="id" th:value="${rows.id}"/>
        <td>
            <select id="dropdown_group" th:field="*{group}">
                <option th:text="${groupList.groupName}" th:value="${groupList.id}"></option>
            </select>
        </td>
        <td>
            <select id="dropdown_date" th:field="*{date}">
                <option th:text="${dateList.dateName}" th:value="${dateList.id}"></option>
            </select>
        </td>
        <td>
            <select id="dropdown_lesson_time" th:field="*{lessonTime}">
                <!--
                                    <option value="">Не выбран</option>
                -->
                <option th:each="time : ${timeAll}"
                        th:value="${time.id}"
                        th:text="${time.lessonTimeStart+' '+time.lessonTimeEnd}">
                </option>
            </select>
        </td>
        <td>
            <select id="dropdown_subject" th:field="*{subject}">
                <!--
                                    <option value="">Не выбран</option>
                -->
                <option th:each="subj : ${subjectAll}"
                        th:value="${subj.id}"
                        th:text="${subj.subjectName}">
                </option>
            </select>
        </td>
        <td>
            <select id="dropdown_teacher" th:field="*{teacher}">
                <!--
                                    <option value="">Не выбран</option>
                -->
                <option th:each="teach : ${teacherAll}"
                        th:value="${teach.id}"
                        th:text="${teach.teacherName}">
                </option>
            </select>
        </td>
        <td>
            <select id="dropdown_classroom" th:field="*{classroom}">
                <!--
                                    <option value="">Не выбран</option>
                -->
                <option th:each="class : ${classroomAll}"
                        th:value="${class.id}"
                        th:text="${class.classroomNumber}">
                </option>
            </select>
        </td>
        <td>
            <select th:field="*{lessonType}">
                <!--
                                    <option value="">Не выбран</option>
                -->
                <option th:each="lessonT : ${lessonTypeAll}"
                        th:value="${lessonT.id}"
                        th:text="${lessonT.lessonType}">
                </option>
            </select>
        </td>
        <td><input type="submit" value="Submit"/></td>
    </form>
</table>
<tr>
    <td th:text="${rows.id}"></td>
    <td th:text="${rows.group.specialty.faculty.facultyName}"></td>
    <td th:text="${rows.group.specialty.specialtyName}"></td>
    <td th:text="${rows.group.groupName}"></td>
    <td th:text="${rows.date.dateName}"></td>
    <td th:text="${rows.lessonTime.lessonTimeStart + '<->' + rows.lessonTime.lessonTimeEnd}"></td>
    <td th:text="${rows.subject.subjectName}"></td>
    <td th:text="${rows.teacher.teacherName}"></td>
    <td th:text="${rows.classroom.classroomNumber}"></td>
    <td th:text="${rows.lessonType.lessonType}"></td>
<tr/>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
    function url() {
        var value1 = $("#dropdown_faculty").val();
        var value2 = $("#dropdown_specialty").val();
        var value3 = $("#dropdown_group").val();
        var link = '/admin/' + value1 + '/' + value2 + '/' + value3 + '/' + 'edit';
        document.getElementById("search-theme-form").action = link;
    }
</script>
</body>
</html>